@import 'normalize.css';
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	background-color: #512DA8;
}

h1, h2 {
	text-align: center;
	color: #DCDCDC;
	margin: 0;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;	
	text-shadow: 2px 3px #7C4DFF;	
}

h2 {
	font-family: sans-serif, arial;
	font-size: 1em
}

p {
	font-family: sans-serif, arial;
	font-size: 1.5em;
	color: #DCDCDC;		
}

.intro {
	width: 100%;
	margin: 0 auto;
}

.intro .profile {
	width: 80%;
	margin: 0 auto;
	margin-top: 8%;
}

.intro .avatar {
	text-align: center;
}

.intro .resume {	
	text-align: center;		
}

.intro .social {
	margin-top: 6%;
	text-align: center;
}

img {
	width: 150px;
	height: 150px;
	border: 5px solid #7C4DFF;	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;	
}

i {
	color: #DCDCDC;	
}

i:hover {
	color: #7C4DFF;
	transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
}

a {
	text-decoration: none;
	margin-right: 10px;
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 2s;	
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;	
	-moz-animation-name: fadeIn;
	-moz-animation-duration: 2s;	
	-o-animation-name: fadeIn;
	-o-animation-duration: 2s;	
}

@-webkit-keyframes fadeIn {
    from {
    	opacity: 0;
    	position: relative;
    	top: -25px
    }
    to {
    	opacity: 1;
    	position: relative;
    	top: 0;
    }
}

@-moz-keyframes fadeIn {
   from {
    	opacity: 0;
    	position: relative;
    	top: -25px
    }
    to {
    	opacity: 1;
    	position: relative;
    	top: 0;
    }
}

@-o-keyframes fadeIn {
    from {
    	opacity: 0;
    	position: relative;
    	top: -25px
    }
    to {
    	opacity: 1;
    	position: relative;
    	top: 0;
    }
}

@keyframes fadeIn {
   from {
    	opacity: 0;
    	position: relative;
    	top: -25px
    }
    to {
    	opacity: 1;
    	position: relative;
    	top: 0;
    }
}


