@import 'normalize.css';
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	background-color: #512DA8;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	text-align: center;
	color: #DCDCDC;
	text-shadow: 2px 3px #7C4DFF;
	margin: 0;
}

p {
	font-family: sans-serif, arial;
	font-size: 1.5em;
	color: #DCDCDC;	
}

.intro {
	width: 100%;
	margin: 0 auto;
}

.intro .profile {
	width: 80%;
	margin: 0 auto;
	margin-top: 8%;
}

.intro .avatar {
	text-align: center;
}

.intro .resume {	
	text-indent: 3em;	
}

.intro .social {
	text-align: center;
}

img {
	width: 150px;
	height: 150px;
	border: 5px solid #7C4DFF;	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

i {
	color: #DCDCDC;	
}

i:hover {
	color: #7C4DFF;
	transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
}

a {
	text-decoration: none;
	margin-right: 10px;
}


